.Background_image		/* Background Image */
{
	display: block;
	top:0%;				/* postioning from top side of screen*/
	left:0%;			/* postioning from left side of screen */
	height:100%;		/* size in height of screen*/
	width: 101%;		/* size in width of screen*/
	position: fixed;	/* fixed: follows screen*/
	z-index: 1;  		/* layer index, low behind, high in front*/
}


.Roedbjælke				/* Toprød bjælke*/				
{
	display: block;
	top:0%;				/* postioning from top side of screen*/
	left:0%;			/* postioning from left side of screen */
	height: 8%;			/* size in height of screen*/
	width: 100%;		/* size in width of screen*/
	position: fixed;	/* fixed: follows screen*/
	z-index: 2;			/* layer index, low behind, high in front*/
}

.Absalon_image			/* Absalon text overskrift*/
{
	display: block;		
	top: 1%;			/* postioning from top side of screen*/
	left: 38%;			/* postioning from left side of screen */
	height: 4%;			/* size in height of screen*/
	width: 22%;			/* size in width of screen*/
	position: fixed;	/* fixed: follows screen*/
	z-index: 3;			/* layer index, low behind, high in front*/
}

.Søgefelt_image			/* Søgefelt i den rødebjælke ikke funktionelt*/
{
	display: block;
	top:1%;				/* postioning from top side of screen*/
	left:62%;			/* postioning from left side of screen */
	height: 5%;			/* size in height of screen*/
	width: 30%;			/* size in width of screen*/
	position: fixed;	/* fixed: follows screen*/
	z-index: 4;			/* layer index, low behind, high in front*/
}

.Søg_image				/* Søge ikon i den rødebjælke ikke funktionelt*/
{
	display: block;
	top: 1%;			/* postioning from top side of screen*/
	left: 93%;			/* postioning from left side of screen */
	height:5%;			/* size in height of screen*/
	width:5%;			/* size in width of screen*/
	position: fixed;	/* fixed: follows screen*/
	z-index: 5;			/* layer index, low behind, high in front*/
}

.Maps_image				/* Maps image i bunden af siden*/
{
	display: block;		
	top:90%;			/* postioning from top side of screen*/
	left:90%;			/* postioning from left side of screen */
	height:8%;			/* size in height of screen*/
	width:8%;			/* size in width of screen*/
	position: fixed;	/* fixed: follows screen*/
	z-index: 6;			/* layer index, low behind, high in front*/
}

.Share_image			/* share icons like facebook and twitter ikke funktionelt*/
{
	display: block;
	top:90%;			/* postioning from top side of screen*/
	left:2%;			/* postioning from left side of screen */
	height:7%;			/* size in height of screen*/
	width:30%;			/* size in width of screen*/
	position: fixed;	/* fixed: follows screen*/
	z-index: 6;			/* layer index, low behind, high in front*/
}

.textarea				/* textarea for information text*/
{
<<<<<<< HEAD
	font-weight: bold;	/* sets the text in bold to make it readable*/
	line-height: 1.5;	/* sets the line-height for the text */
	font-size:12px;		/* sets the font-size for the text */
	position: absolute;	/* absolute stays inscreen does not follow screen */
	height: 50%;		/* size in height of screen*/
	width: 80%;			/* size in width of screen*/
	top: 25%;			/* postioning from top side of screen*/
	left:15%;			/* postioning from left side of screen */
	z-index: 6;			/* layer index, low behind, high in front*/
}
.English_flag	
{		
	line-height: 1.5;
	font-size:12px;
	position: absolute;
	width: 70%;
    height: 50px;
	top: 20%;
	left:20%;
	z-index: 6;
}

.Absalon_image			/* image of absalon, beside text*/
{
	display: block;
	top: 12%;			/* postioning from top side of screen*/
	left: 5%;			/* postioning from left side of screen */
	width: 30%;			/* size in height of screen*/
	height: 15%;		/* size in width of screen*/
	position: fixed;	/* fixed: follows screen*/
	z-index: 6;			/* layer index, low behind, high in front*/
}


body							/* calls the whole body of the html document */
{					
	background-color: black;	/* sets the background-color to black*/
	z-index: 0;					/* layer index, low behind, high in front*/
}
