.Background_image {
	/*background-image: url("Background.png");*/
	display: block;
	margin-top: 10%;
	height:100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	/*overflow-y: hidden;*/
	overflow-x: hidden;
	z-index: 1;
}


.Roedbjælke {
	position: absolute;
	display: block;
	height: 8%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
}

.Absalon_image{
	position: relative;
	display: block;
	height: 4%;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	top: 50px;
	z-index: 3;
	
}


/*.Corner_flag{
	height: 10%;
	width: 10%;
	position: absolute;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	z-index: 2;
}
*/


body{
	background-color: black;
	z-index: 0;
}
