.Background_image
{
	/*background-image: url("Background.png");*/
	display: block;
	margin-top:;
	height:100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	/*overflow-y: hidden;*/
	overflow-x: hidden;
	z-index: 1;
}


.Roedbjælke
{
	position: fixed;
	display: block;
	height: 8%;
	width: 100%;
	top:;
	left:;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
}

.Absalon_image
{
	position: fixed;
	display: block;
	height: 4%;
	width: 22%;
	margin-left: auto;
	margin-right: auto;
	top: 3%;
	left: 38%;
	z-index: 3;
}

.Søgefelt_image
{
	position: fixed;
	display: block;
	top:3%;
	left:62%;
	z-index: 4;
	height: 5%;
	width: 30%;
}

.Søg_image
{
	position: fixed;
	display: block;
	height:6%;
	width:5%;
	left: 93%;
	right: 0px;
	top: 2%;
	z-index: 5;
}

.Maps_image
{
	position: fixed;
	display: block;
	top:90%;
	left:90%;
	z-index: 6;
	height:5%;
	width:10%;
}

.Share_image
{
	position: fixed;
	display: block;
	top:90%;
	left:2%;
	z-index: 6;
	height:10%;
	width:20%;
}

.clickable_danish
{
	position: fixed;
	display: block;
	height: 15%;
	width: 20%;
	left: 5%;
	top: 45%;
	z-index:6;
}

.clickable_english
{
	position: fixed;
	display: block;
	height: 15%;
	width: 20%;
	left: 5%;
	top: 65%;
	z-index: 6;
}

.clickable_german
{
	position: fixed;
	display: block;
	height: 15%;
	width: 20%;
	left: 32%;
	top: 45%;
	z-index: 6;
}

.clickable_japanese
{
	position: fixed;
	display: block;
	height: 15%;
	width: 20%;
	left: 32%;
	top: 65%;
	z-index: 6;
}

.clickable_russian
{
	position: fixed;
	display: block;
	height: 15%;
	width: 20%;
	left: 57%;
	top: 45%;
	z-index: 6;
}

.clickable_spanish
{
	position: fixed;
	display: block;
	height: 15%;
	width: 20%;
	left: 57%;
	top: 65%;
	z-index: 6;
}

.clickable_chinese
{
	position: fixed;
	display: block;
	height: 15%;
	width: 20%;
	left: 80%;
	top: 45%;
	z-index: 6;
}

.clickable_french
{
	position: fixed;
	display: block;
	height: 15%;
	width: 20%;
	left: 80%;
	top: 65%;
	z-index: 6;
}
/*.Corner_flag{
	height: 10%;
	width: 10%;
	position: absolute;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	z-index: 2;
}
*/
.scroll-left {
 height: 100px;	
 overflow: hidden;
 top:10%;
 position: relative;
 z-index: 12;
}
.scroll-left p {
 white-space: nowrap;
 font-size: 200%;
 z-index: 11;
 position: absolute;
 top:10%;
 left: -250%;
 width: 700%;
 height: 100%;
 margin: 0;
 line-height: 100px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(200%);
 -webkit-transform:translateX(200%);	
 transform:translateX(200%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 20s linear infinite;
 -webkit-animation: scroll-left 20s linear infinite;
 animation: scroll-left 20s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(50%); }
 100% { -moz-transform: translateX(-50%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(50%); }
 100% { -webkit-transform: translateX(-50%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(50%); /* Browser bug fix */
 -webkit-transform: translateX(50%); /* Browser bug fix */
 transform: translateX(50%); 		
 }
 100% { 
 -moz-transform: translateX(-50%); /* Browser bug fix */
 -webkit-transform: translateX(-50%); /* Browser bug fix */
 transform: translateX(-50%); 
 }
}



body{
	background-color: black;
	z-index: 0;
}
